<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
	<bean id="tamgiac" class="dh8c5.com.vd1.tamgiac"></bean>

	<bean id="msgHello" class="dh8c5.com.vd1.msgHello">
		<property name="msg" value="khiem"></property>
	</bean>


</beans>